/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * TaxCloud module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    $Id: main.css,v 1.1.2.1 2012/04/06 10:34:25 ferz Exp $
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

div.taxcloud-cert {
  text-align: right;
  margin-right: 5px;
  margin-top: 16px;
}

div.taxcloud-cert span.navlink {
  font-size: 11px;
  color: #043FA0;
}

a.unset-cert-link {
  margin-left: 10px;
}

